<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="Omnifood is an AI-powered food subscription that will make you eat healthy again, 365 days per year. It's tailored to your personal tastes and nutritional needs."
    />

    <!-- Always include this line of code!!! -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <link rel="icon" href="img/favicon.png" />
    <link rel="apple-touch-icon" href="img/apple-touch-icon.png" />
    <link rel="manifest" href="manifest.webmanifest" />
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap"
      rel="stylesheet"
    />

    <link rel="stylesheet" href="css/general.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/queries.css" />

    <script
      type="module"
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.esm.js"
    ></script>
    <script
      nomodule=""
      src="https://unpkg.com/ionicons@5.4.0/dist/ionicons/ionicons.js"
    ></script>

    <script
      defer
      src="https://unpkg.com/smoothscroll-polyfill@0.4.4/dist/smoothscroll.min.js"
    ></script>
    <script defer src="js/script.js"></script>
   
    <title>Omnifood &mdash; Never cook again!</title>
  </head>
  <body>
        <header class="header">
            <a href="/" onclick="location.replace('/'),'_top'">
              <img class="logo" alt="Omnifood logo" src="img/omnifood-logo.png" />
            </a>
        
            <nav class="main-nav">
              <ul class="main-nav-list">
                <li><a class="main-nav-link" href="#how" onclick="location.replace('/#how'),'_top'">How it works</a></li>
                <li><a class="main-nav-link" href="#meals" onclick="location.replace('/#meals'),'_top'">Meals</a></li>
                <li>
                  <a class="main-nav-link" href="#testimonials" onclick="location.replace('/#testimonials'),'_top'">Testimonials</a>
                </li>
                
                <li>
                  <a class="main-nav-link" href="#pricing">Pricing</a></li>
                <% if(user) { %>
                <li>
                  <form id="logout" action="/logout" method="POST">
                    <a class="main-nav-link" onclick="document.getElementById('logout').submit()" href="#">Logout</a>
                  </form>
                  </li>
                <% } else { %>
                <li><a class="main-nav-link" href="/login" onclick="location.replace('/login'),'_top'">Login</a></li>
                <li><a class="main-nav-link nav-cta" href="/signup"  >Sign Up</a></li>
                <% } %>
                <li><a class="cart-box" href="/cart">
                 <p id="cartCounter" class="cart-text"><%= session.cart?session.cart.totalQty:'' %></p><img class="cart-logo" alt="cart logo" src="img/logos/cart-icon.png" />
                </a></li>
              </ul>
            </nav>
        
            <button class="btn-mobile-nav">
              <ion-icon class="icon-mobile-nav" name="menu-outline"></ion-icon>
              <ion-icon class="icon-mobile-nav" name="close-outline"></ion-icon>
            </button>
          </header>

         <%- body %>        

    
  <footer class="footer">
    <div class="container grid grid--footer">
      <div class="logo-col">
        <a href="#" class="footer-logo">
          <img class="logo" alt="Omnifood logo" src="img/omnifood-logo.png" />
        </a>
  
        <ul class="social-links">
          <li>
            <a class="footer-link" href="#"
              ><ion-icon class="social-icon" name="logo-instagram"></ion-icon
            ></a>
          </li>
          <li>
            <a class="footer-link" href="#"
              ><ion-icon class="social-icon" name="logo-facebook"></ion-icon
            ></a>
          </li>
          <li>
            <a class="footer-link" href="#"
              ><ion-icon class="social-icon" name="logo-twitter"></ion-icon
            ></a>
          </li>
        </ul>
  
        <p class="copyright">
          Copyright &copy; <span class="year">2027</span> by Omnifood, Inc.
          All rights reserved.
        </p>
      </div>
  
      <div class="address-col">
        <p class="footer-heading">Contact us</p>
        <address class="contacts">
          <p class="address">
            623 Harrison St., 2nd Floor, San Francisco, CA 94107
          </p>
          <p>
            <a class="footer-link" href="tel:415-201-6370">415-201-6370</a
            ><br />
            <a class="footer-link" href="mailto:hello@omnifood.com"
              >hello@omnifood.com</a
            >
          </p>
        </address>
      </div>
  
      <nav class="nav-col">
        <p class="footer-heading">Account</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Create account</a></li>
          <li><a class="footer-link" href="#">Sign in</a></li>
          <li><a class="footer-link" href="#">iOS app</a></li>
          <li><a class="footer-link" href="#">Android app</a></li>
        </ul>
      </nav>
  
      <nav class="nav-col">
        <p class="footer-heading">Company</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">About Omnifood</a></li>
          <li><a class="footer-link" href="#">For Business</a></li>
          <li><a class="footer-link" href="#">Cooking partners</a></li>
          <li><a class="footer-link" href="#">Careers</a></li>
        </ul>
      </nav>
  
      <nav class="nav-col">
        <p class="footer-heading">Resources</p>
        <ul class="footer-nav">
          <li><a class="footer-link" href="#">Recipe directory </a></li>
          <li><a class="footer-link" href="#">Help center</a></li>
          <li><a class="footer-link" href="#">Privacy & terms</a></li>
        </ul>
      </nav>
    </div>
  </footer>
  </body>
</html>
